.main-view {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Agency FB", sans-serif;
    font-size: 20px;
}

.main-view div {
    margin: 10px;
}

.main-view #upperBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031170;
    color: white;
    padding: 10px;
}

.main-view .team,
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.main-view .team:hover,
.player:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: lightblue;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #031170;
}

.back-button {
    background-color: rgb(149, 162, 255);
    color: #000000;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #031170;
    color: white;
    transition: box-shadow 0.2s ease;
    box-shadow: 3px 3px rgb(155, 0, 0);
}

.main-view ul {
    /*visibility: hidden;*/
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.main-view li {
    padding: 8px 0;
    position: relative;
}

.main-view#favGames:hover+#gamesList {
    visibility: visible;
}

.main-view#favTeams:hover+#teamsList {
    visibility: visible;
}

.main-view#favPlayers:hover+#playersList {
    visibility: visible;
}

.main-view#lowerDiv {
    display: flex;
    flex-wrap: wrap;
}

.recommendations-container {
    display: flex;
    flex-direction: column;
}

.custom-list {
    padding: 0; /* Remove default padding */
}

.custom-list li {
    padding: 8px 0;
    position: relative;
}

.custom-list li {
    padding-left: 30px;
}